0244544704

Final Year Project Valley View University
1. Using Effective Computing to Change the Emotion of Humans Through Music
	Using an android app to select playlist for the user ()

2. Multi factor zero knowledge authentication protocol - Daniel

3. Voice Recognition to Unlock a phone   

4. 3D animation ()

5. Collaborative Tools in Teaching and Learning (Alberta) TeachBack Framework - Brandies University

6. Web application for predicting tropical diseases in Ghana using big data

//Scrum


