 <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            FishReg
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>NAVIGATION</span></li>
        
        <div ng-show="userRole!=7">
            <li class="sidebar-list" ng-class="{selected:isSel(0)}">
              <a href="#/app/dashboard" ng-click="setSel(o)">Dashboard </a>
            </li>
            <li class="sidebar-list" ng-class="{selected:isSel(1)}">
              <a href="#/app/industrial" ng-click="setSel(1)">Industrial Vessels </span></a>
            </li>
            <li class="sidebar-list" ng-class="{selected:isSel(2)}">
              <a href="#/app/semi-industrial"ng-click="setSel(2)" ng-click="setSet(1)">Semi-industrial Vessels </a>
            </li>
            <li class="sidebar-list" ng-class="{selected:isSel(3)}">
              <a href="#/app/marine" ng-click="setSel(3)">Marine Canoes </a>
            </li>
            <li class="sidebar-list" ng-class="{selected:isSel(4)}">
              <a href="#/app/mcs" ng-click="setSel(4)">MCS Activity </a>
            </li>
            <li class="sidebar-list" ng-class="{selected:isSel(5)}">
              <a href="#/app/datareporting" ng-click="setSel(5)">Data Reporting </a>
            </li>
            <li class="sidebar-list" ng-class="{selected:isSel(6)}">
              <a href="#/app/auxiliary" ng-click="setSel(6)">Auxiliary Data </a>
            </li>
            <li class="sidebar-list" ng-class="{selected:isSel(7)}">
              <a href="#/app/register" ng-click="setSel(7)">Register Audit Log </a>
            </li>
            <li class="sidebar-list" ng-class="{selected:isSel(8)}">
              <a href="#/app/administrator" ng-click="setSel(8)">Administrator </a>
            </li>
        </div>
        <div ng-show="userRole==7">
          <li class="sidebar-list" ng-class="{selected:isSel(0)}">
              <a href="#/app/dashboard2" ng-click="setSel(0)">Dashboard</a>
          </li>
          <li class="sidebar-list" ng-class="{selected:isSel(0)}">
              <a href="#/app/inspection" ng-click="setSel(o)">Inspection</a>
          </li>
          <li class="sidebar-list" ng-class="{selected:isSel(0)}">
              <a href="#/app/cases" ng-click="setSel(o)">Cases</a>
          </li>
          <li class="sidebar-list" ng-class="{selected:isSel(0)}">
              <a href="#/app/payment" ng-click="setSel(o)">Payment</a>
          </li>
          <li class="sidebar-list" ng-class="{selected:isSel(1)}">
              <a href="#/app/industrial" ng-click="setSel(1)">Industrial Vessels </span></a>
            </li>
            <li class="sidebar-list" ng-class="{selected:isSel(2)}">
              <a href="#/app/semi-industrial"ng-click="setSel(2)" ng-click="setSet(1)">Semi-industrial Vessels </a>
            </li>
          <li class="sidebar-list" ng-class="{selected:isSel(0)}">
              <a href="#/app/mcssetup" ng-click="setSel(o)">Setup</a>
          </li>

        </div>


      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-3">
          <a href ng-click="changePassword()">
            {{loggedUser}}
          </a>
        </div>
        <div class="col-xs-9">
          <a href ng-click="logout()">
            Logout
          </a>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->
        <div class="row header">
          <div class="col-xs-12">
            <div class="user pull-right">
            <img src="images/coat.jpg" style="height:55px">
            </div>
            <div class="meta">
              <div class="page"> 
                Ministry of Fisheries and Aquaculture Development - 
                Fisheries Commission
              </div>
              <div class="breadcrumb-links">
                 <span style="font-size:1.2em" ng-bind="headingData"></span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Header Bar -->

        <!-- Main Content -->
        <div ui-view="contentArea" ></div>

        </div><!-- End Page Content -->
      </div><!-- End Content Wrapper -->
    </div><!-- End Page Wrapper -->

     <script type="text/ng-template" id="passwordModal.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="closepass()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">Password Change</h3>
        </div>
        <div class="modal-body main_text">
          <div class="form-group">
            <label>Old Password</label>
            <input type="password" class="form-control" ng-model="oldpassword">
          </div> 
          <div class="form-group">
            <label>New Password</label>
            <input type="password" class="form-control" ng-model="newpassword">
          </div>  
        <button class="btn btn-primary" ng-click="changePass()">Change</button>      
                
        </div> 

    </script>
